<!DOCTYPE html>
<head>
<link rel="stylesheet" href="basics.css" >
  <title>RAP-SHAP</title>

</head>
<body >
<pre>
<ol>Man,whatever</ol><br>

    <table><tr><th>Dre just let<th/> it run<br>
  <th>Ayo,<th/> <th>is song is<th/><tr/> for anyone <br>
  Fuck it, just shut up and listen , Ayo <br></table>
  <hr>

  <h3 id="tio" >FIRST VERSE  </h3>

  <p> <b>
     I sit back  with this pack of Zig-Zac 's and this bag <br>
     <img src="hacking_stuff/Quotefancy-2000881-3840x2160.jpg" alt="hacking stuff" height="200" width="200" align= "left" />
  Of this weed , it gives me the shit needed to <br>
  The most <em> Meanest MC on</em> this -- on this earth <br>
    And since birth i've been cursed eith this curse to just curse <br>
  And just blurt this berserk and bizarre shit works <br>
  And it sels and it helps in itself to relieve all the tension <br>
  Dispensing these sentense , getting this stress <br>
  That's been eating me recently off of this stress <br>
  That's been eating me recently off of this stress <br>
  Thts's been eating me recently off of this chest <br>
  And i rest agian peasefully <br>
  But at least adain peacefully <br>
  But at least again peacefully <br>
  But at least have the desency in you <br>
  To leave me alone , when you freaks see me out <br>
  In the streets when i'm eating or feeding my daughter <br>
  To not come and speak to me , I don't know you <br>
  And no, i don't owe you a motherfuckin 'thing <br>
  i'M NOT mr. N'sync,I 'm not what your friends thing <br>
  I'm not Mr. Friendly , I can prick if you tempt <br> </b> </p>

<form method="get" >
<p> username
  <h2  class="noteBox" width ="23"  > FORM FIELD IS HERE</h2>
<input type="text" maxlength="30" name="username"  size="26"/ />
<textarea name="comment" maxlength="200" cols="20" rows="4"> Enter your comment...</textarea>
<table>
  <tr>
    <th></th>
    <td>INDIA<input type="radio" name="location" value="INDIA"/></td>
    <td width = "23"  >US<input type="radio" name="location" value="US" /></td>
  </tr>
</table>
<select name="cars" multiple = "multiple" size="3">
  <option value="toyota" >
    TOYOTA
  </option>
  <option name ="lambo" >
LAMBO
  </option>

</select>
</p>
</form>
<form method="post">
  <p>
    Upload your files here
  </p>
  <input type="file" name="user_song" /><br />
  <input type="submit" value="Upload"
</form>
<fieldset>
  <legend>Contact details</legend>
  <label>Email
  <input type="text" name="email"  /> </label>
  <label for=""> Mobile
  <input type="number" required = "required"   /></label>
  <label >telephone
  <input type="number"</label>
</fieldset>
<form  method="post">
<input type="submit" name="submit" width="23">
</form>
<form  action="index.html" method="post">
  <p>search anything
<input type="search" name="search" placeholder="Enter the text"/>
<input type="submit" name="submit" value="search"  /></p>

</form>
<form class="" action="C:\Users\satya\Documents\ATOM_stuff\@#$$\tables_stuff.html" method="post">
  <label for="">Departure time</label>
  <input type="datetime" name="dapart"  />
<input type="submit" name="submit" />
</form>
<a href="#tio">hey yi</a>
<a href="mailto:satyamdelhi120@gmail.com?subject=feedback">email me</a>


</menu>
</body>
